
@media (max-width: 767px) {
      .contenido {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
          }
      .apartado div{
            display: none;
      }

      .navegador-inicio ul {
        display: none;
      }

      .navegador-inicio .boton-menu {
        display: block;
      }
    }

         
@media (min-width: 768px) and (max-width: 1023px) {
      
}


@media (min-width: 1024px) {
      
  }
  